.common{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    height: 100px;
    background-color: black;
    color: white;
    line-height: 100px;
}

.mainbody{
    background-color: darkseagreen;
}

.footer{
    height: 25px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 5px;
    right: 5px;
    font-size: 10px;
    line-height: 25px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

nav{
    background-color: beige;
    padding: 10px;
    overflow: hidden;
}

nav a{
    float: left;
    color: darkslategrey;
    padding: 10px 13px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    background-color: lightgrey;
}